<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TrClient"
            tools:targetApi="31">

        <!--注册Service-->
        <service
                android:name="xuanniao.transmission.trclient.Receive"
                android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter >
                <action android:name="TrReceive"/>
            </intent-filter>
        </service>

        <service
                android:name="xuanniao.transmission.trclient.CheckConnect"
                android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter >
                <action android:name="TrCheck"/>
            </intent-filter>
        </service>

        <service
                android:name="xuanniao.transmission.trclient.SendFile"
                android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter >
                <action android:name="TrSend"/>
            </intent-filter>
        </service>

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>

        <activity
                android:name=".Setting"
                android:label="@string/title_activity_Setting"
                android:parentActivityName=".MainActivity">
        </activity>

        <activity
                android:name=".Connect"
                android:label="@string/title_activity_Connect"
                android:parentActivityName=".MainActivity">
        </activity>

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>